html,
body
{
    border: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

noscript,
#root
{
    border: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#root
{
    overflow-y: auto;
}

img
{
    max-height: 100%;
    max-width: 100%;
}

*
{
    box-sizing: border-box;
}
